<div class="row">
    <div class="col s12">
        <label>{{label_text}}</label>
        <select name="{{fields.id}}" id="{{fields.id}}">
            <option value="" selected disabled>Select One</option>
            {{#each fields.field_options}}
                <option value="{{id}}">{{text}}</option>
            {{/each}}
        </select>
    </div>
</div>